/* Reset - Base */
h1,
h2,
h3,
p {
  margin: 0;
}

h2 {
  text-align: center;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/* header */

header {
  background-color: #30d5c6;
  text-align: center;
  color: #FFF;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  background-image: url('../img/bg-header.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 2;
}

header:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: -1;
}

header div {
  margin: auto;
  min-width: 250px;
  position: relative;
}

h1 {
  font-size: 30px;
}

p {
  font-size: 16px;
  margin: 20px auto;
}
/* facebook.com/bernardes.felipe */
header a {
  display: block;
  background-color: rgba(0,20,0,0.5);
  max-width: 160px;
  color: #FFF;
  margin: auto;
  padding: 12px 0;
  border-radius: 4px;
  text-transform: uppercase;
  transition: all .2s ease;
  font-weight: bold;
  font-size: 13px;
}

header a:hover {
    background-color: rgba(0,20,0,.7);
}


/* destaque */

.destaque {
  text-align: center;
}

.destaque h2 {
  margin: 30px auto;
}

.destaque li {
  margin: 50px auto;
}

.destaque li:nth-of-type(1) div {
  background-image: url('../img/destaque-1.jpg');
}

.destaque li:nth-of-type(2) div {
  background-image: url('../img/destaque-2.jpg');
}

.destaque li:nth-of-type(3) div {
  background-image: url('../img/destaque-3.jpg');
}

.destaque div {
  margin: auto;
  height: 190px;
  width: 190px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .destaque ul {
    display: flex;
  }

}

/* detail */

.detail {
  padding: 0 5%;
}

.detail h2 {
  color: #888;
  font-weight: bold;
}

@media (min-width: 768px) {
  .detail {
    display: flex;
    flex-flow: row wrap;
  }

  .detail h2 {
    width: 100%;
    text-align: left;
  }

  .detail-right h2 {
    text-align: right;
  }

  .detail .img-container {
    width: 50%;
  }

  .detail p {
    width: 50%;
    margin-left: 0;
  }

  .detail-right .img-container {
    order: 0;
  }

  .detail-right p {
    order: 1;
  }

}

/* faixa */
.faixa {
  background-color: #333;
  text-align: center;
  padding: 5vh 5vw;
  margin: 5vh 0;
  color: #fff;
}

/* contato */

.contact {
  background-color: #999;
  min-height: 90vh;
  padding: 5vh 5vw;
  display: flex;
  flex-flow: column;
  text-align: center;
}

.contact h2,
.contact p,
.contact ul {
  margin: auto;
}

.contact a {
  color: #fff;
  background-color: rgba(123,231,50,0.5);
  padding: 16px;
  display: block;
  max-width: 240px;
  margin: 10px auto;
}

@media (min-width: 768px) {
  .contact {
    min-height: 30vh;
    flex-flow: row wrap;
  }

  .contact h2 {
    width: 100%;
  }

  .contact p {
    width: 50%;
    max-width: 300px;
  }

  .contact ul {
    width: 50%;
  }


}

/* footer */
footer {
  min-height: 10vh;
  background-color: #fff;
  display: flex;
}

footer ul {
  display: flex;
  flex-flow: row;
  margin: auto;
  width: 100%;
}

footer a {
  padding: 10px;
  font-size: 30px;
}

footer li {
  margin: auto;
}
